# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
RABBITMQ_EXCHANGE=documents
RABBITMQ_DOCUMENT_QUEUE=document-jobs
RABBITMQ_EMBEDDING_QUEUE=embedding-jobs

# AWS
AWS_REGION=eu-west-3
S3_BUCKET_NAME=lalo-documents-omar

# Qdrant
QDRANT_URL=http://qdrant:6333

# OpenAI
OPENAI_API_KEY=sk-your-openai-api-key-here
EMBEDDING_MODEL=text-embedding-3-small

# Chunking
MAX_CHUNK_SIZE=512

# Backend API URL for status updates
BACKEND_URL=http://backend-backend:80

# Logging
LOG_LEVEL=info
